<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JuanMelendres/blob/main/LabModule1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Juan Melendres - A00369017**

# **Module 1 - Python Basics**

**First Python output**

In [ ]:
# Try your first Python output
print('Hello, Python!')
print('Hello, Juan Melendres!')

**Check the Python Version**

In [1]:
import sys
# Check the Python Version
print(sys.version)
print("Python version = " + sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
Python version = 3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

**Comments**

In [ ]:
# Practice on writing comments
print('Hello, Python!')  # This line prints a string
# print('Hi')
# print('Hi comments')

**Exercise: Your First Program**

In [ ]:
# Write your code below.
print("Hello, wolrd!")
# Write your code below.
print("Hello, wolrd!")  # Print the traditional hello world

**Types**

In [ ]:
num = 11 # Integer
num_2 = 2.14 # Float
str = "Hello, Python 101!"
# Write your code below.
type(12.0)
# Integer in Python
# Print the type of -1
type(-1)
# Print the type of 4
type(4)
# Print the type of 0
type(0)
# Floats in Python
# Print the type of 1.0
type(1.0)
# Print the type of 0.5
type(0.5)
# Print the type of 0.56
type(0.56)
# Converting from one object type to a different object type
# Verify that this is an integer
type(2)
# Convert 2 to a float
float(2)
# Convert integer 2 to a float and check its type
type(float(2))
# Casting 1.1 to integer will result in loss of information
int(1.1)
# Convert a string into an integer
int('1')
# Convert a string into an integer with error
# int('1 or 2 people') # We can not convert string with letters to a string
# Convert the string "1.2" into a float
float('1.2')
# Type of True
type(True)
# Type of False
type(False)
# Convert True to int
int(True)
# Convert 1 to boolean
bool(1)
# Convert 0 to boolean
bool(0)
# Convert True to float
float(True)

**Exercise: Types**

In [ ]:
# What is the data type of the result of: 6 / 2?
# Write your code below. 
type(6/2) # Float
# Write your code below.
# What is the type of the result of: 6 // 2? (Note the double slash //.)
type(6//2)  # int, as the double slashes stand for integer division

**Expression and Variables**

In [ ]:
# Addition operation expression
print(43 + 60 + 16 + 41)
# Subtraction operation expression
print(50 - 60)
# Multiplication operation expression
print(5 * 5)
# Division operation expression
print(25 / 5)
# Integer division operation expression
print(25 // 6)

**Exercise: Expression**

In [ ]:
# Let's write an expression that calculates how many hours there are in 160 minutes:
print(160/60) # OR 160//60
# Mathematical expression
print(30 + 2 * 60)
# OR
print((30 + 2) * 60)

**Variables**

In [ ]:
# Store value into variable
x = 43 + 60 + 16 + 41
print(x)
# Use another variable to store the result of the operation between variable and value
y = x / 60
print(x)
# Overwrite variable with new value
x = x / 60
print(x)

In [ ]:
# Name the variables meaningfully
total_min = 43 + 42 + 57
print(total_min)
total_hours = total_min / 60 
print(total_hours)

In [ ]:
# Complicate expression
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
print(total_hours)

**Exercise: Expression and Variables in Python**

In [ ]:
# What is the value of x where x = 3 + 2 * 2
x = 3 + 2 * 2
print(x)
# What is the value of y where y = (3 + 2) * 2?
y = (3 + 2) * 2
print(y)
# What is the value of z where z = x + y?
z = x + y
print(z)

**Quizzes & Quizzes from labs**

In [ ]:
#  Question 1
# Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.
print("Hello\nWorld!")
# Answer:
# Hello
# World

In [ ]:
#  Question 2
# What is the output of executing the following statement: # print('Hello World!')?
# print('Hello World!')
# Answer: There is no output as it is a comment.

In [ ]:
#  Question 1
# What is the type of the following: int(1.0)?
int(1.0) # int

In [ ]:
#  Question 2
# Enter the code to convert the number 1 to a Boolean.
bool(1)

# **Lab 2 Strings (Module 1)**

**Strings**

In [ ]:
# Use quotation marks for defining string
print("Juan Melendres") 
# Also working with single quotation marks
print('Juan Melendres')
# Assign string to variable
name = "Juan Melendres"
print(name)

**Indexing strings**

In [ ]:
name = "Juan Melendres"
# Print the first element in the string
print(name[0])

In [ ]:
# Print the element on index 6 in the string
print(name[6])

In [ ]:
# Print the element on the 13th index in the string
print(name[13])

**Negative Indexing**

In [ ]:
name = "Juan Melendres"
# Print the last element in the string
print(name[-1])

In [ ]:
# Print the first element in the string
print(name[-10])

In [ ]:
# Find the length of string
len(name)

**Slicing**

In [ ]:
name = "Juan Melendres"
# Take the slice on variable name with only index 0 to index 3
name[0:4]

In [ ]:
# Take the slice on variable name with only index 8 to index 11
name[8:12]

**Stride**

In [ ]:
name = "Juan Melendres"
# Get every second element. The elments on index 1, 3, 5 ...
name[::2]

In [ ]:
# Get every second element in the range from index 0 to index 4
name[0:5:2]

**Concatenate Strings**

In [ ]:
name = "Juan Melendres"
# Concatenate two strings
statement = name + "is the best"
statement

In [ ]:
name = "Juan Melendres"
# Print the string for 3 times
3 * name

In [ ]:
# Concatenate strings
name = "Juan Melendres"
name = name + " is the best"
name

**Escape Sequences**

In [ ]:
# New line escape sequence
print("Juan Melendres \n is the best" )

In [ ]:
# Tab escape sequence
print("Juan Melendres \t is the best" )

In [ ]:
# Include back slash in string
print("Juan Melendres \\ is the best" )

In [ ]:
# r will tell python that string will be display as raw string
print(r"Juan Melendres \ is the best" )

**String Operations**

In [15]:
# Convert all the characters in string to upper case
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string
a = "Juan Melendres is the best"
b = a.replace('Michael', 'Janet')
b

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
name = "Juan Melendres"
name.find('el')

In [ ]:
# Find the substring in the string.
name.find('Juan')

**Quizzes & Quizzes from labs**

In [ ]:
# Question 1
# Consider the following string: Numbers = "0123456" How would you obtain the even elements?
Numbers = "0123456"
Numbers[::2]

In [ ]:
# Question 2
# What is the result of the following line of code: "0123456".find('1')
print("0123456".find('1')) # Output = 1

In [ ]:
# What is the value of the variable a after the following code is executed?
a = "1" # "1"

In [ ]:
# What is the value of the variable b after the following code is executed?
b = "2" # "2"

In [ ]:
# What is the value of the variable c after the following code is executed?
c = a + b # "12"

In [ ]:
# Consider the variable d use slicing to print out the first three elements
d = "ABCDEFG"
print(d[0:3])

In [ ]:
# Use a stride value of 2 to print out every second character of the string e:
e = 'clocrkr1e1c1t'
print(e[::2])

In [ ]:
# Print out a backslash
print("\\\\\\") # OR print(r"\ ")

In [ ]:
# Convert the variable f to uppercase:
f = "You are wrong"
f.upper()

In [ ]:
# Consider the variable g, and find the first index of the sub-string snow
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

In [ ]:
# In the variable g, replace the sub-string Mary with Bob
g.replace("Mary", "Bob")

**Review Questions**

Question 1 What is the result of the following operation in Python: 3 + 2 * 2

In [ ]:
3 + 2 * 2 # 7

Question 2
In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [ ]:
name = 'Lizz'
print(name[0:2])

Question 3 In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [ ]:
var = '01234567'
print(var[::2])

Question 4 In Python, what is the result of the following operation '1'+'2'?

In [ ]:
'1'+'2'

Question 5 Given myvar = 'hello', how would you convert myvar into uppercase?

In [ ]:
myvar = 'hello'
myvar.upper()

# **Module 2 - Python Data Structures**

**Lists and Tuples**

In [ ]:
# Tuples are an ordered sequence.
ratings = (10,9,6,5,10,8,9,6,2)
ratings

In [ ]:
# indexing for tuples
ratings[3]

In [ ]:
# Sorted tuples
ratingsSorted = sorted(ratings)
ratingsSorted

In [ ]:
# List are an ordered sequence. (We can nest list inside a list and also nest tuples)
lst = ("Juan Melendres", 10.1, 17)
lst

**Lab - Tuples**

In [ ]:
# Nested Tuple
# Creating a nest tuple
NestedT = (1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NestedT

In [ ]:
# Printing element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

In [ ]:
# Printing element on each index, including nest indexes
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

**Lab - List**

In [ ]:
# Sample List
L = ["Juan Melendres", 10.1,1982,"MJ",1]
L

In [ ]:
# List slicing
L[3:5]

In [ ]:
# Use append to add elements to list
L = ["Juan Melendres", 10.2]
L.append(['pop', 10])
L

In [ ]:
# Change the element based on the index
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

In [ ]:
# Delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

In [ ]:
# Split the string, default is by space
'Juan Melendres'.split()

In [ ]:
# Split the string by comma
'A,B,C,D'.split(',')

**Lab - Sets**

In [ ]:
# Convert list to set
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

In [47]:
# Sample Sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
# Find the intersections
intersection = album_set1 & album_set2
intersection

In [ ]:
# Find the difference in set1 but not set2
album_set1.difference(album_set2)

In [ ]:
# Use intersection method to find the intersection of album_list1 and album_list2
album_set1.intersection(album_set2)

**Lab - Dictionaries**

In [ ]:
# Create the dictionary
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

In [ ]:
# Access to the value by the key
Dict["key1"]

In [ ]:
# Access to the value by the key
Dict[(0, 1)]

**Quizzes & Quizzes from labs**

In [ ]:
# QUESTION 1
# How do you access the last element of the following tuple: A=(0,1,2,3)?
A = (0,1,2,3)
A[3] # AND A[-1]

In [ ]:
# QUESTION 2 
# Consider the list: B=["a","b","c"]
# What is the result of the following B[1:]?
B = ["a","b","c"]
B[1:]

**Tuples Quiz**

In [ ]:
# sample tuple
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

In [ ]:
# Find the length of the tuple, genres_tuple:
len(genres_tuple)

In [ ]:
# Access the element, with respect to index 3:
genres_tuple[3]

In [ ]:
# Use slicing to obtain indexes 3, 4 and 5
genres_tuple[3:6]

In [ ]:
# Find the first two elements of the tuple genres_tuple:
genres_tuple[0:2]

In [ ]:
# Find the first index of "disco":
genres_tuple.index("disco")

In [ ]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

**List Quiz**

In [ ]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

In [ ]:
# Find the value stored at index 1 of a_list
a_list[1]

In [ ]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

In [ ]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

**Quizz - Sets**

In [ ]:
# QUESTION 1 - What is the result of the following lines of code: S={'A','B','C'} U={'A','Z','C'} U.union(S)
S = {'A','B','C'}
U = {'A','Z','C'}
U.union(S) # {'A', 'B', 'C', 'Z'}

In [ ]:
# QUESTION 2 - What is the intersection of set S and U?
S = {'A','B','C'}
U = {'A','Z','C'}
z = S & U
z # {'A', 'C'}

In [ ]:
# Convert the list ['rap','house','electronic music', 'rap'] to a set:
set(['rap','house','electronic music','rap'])

In [ ]:
# set(['rap','house','electronic music','rap'])
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

In [ ]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

In [ ]:
# Find out if album_set1 is a subset of album_set3
album_set1.issubset(album_set3)

**Quizz - Dictionaries**

In [ ]:
# QUESTION 1 - Consider the following dictionary: D = {'a':0,'b':1,'c':2} What is the result of the following: D.values()?
D = {'a':0,'b':1,'c':2}
D.values()

In [ ]:
# QUESTION 2 - Consider the following dictionary: D = {'a':0,'b':1,'c':2} What is the output of the following D['b']?
D = {'a':0,'b':1,'c':2}
D['b']

In [ ]:
# Question sample dictionary
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

In [ ]:
# a) In the dictionary soundtrack_dic what are the keys ?
soundtrack_dic.keys() # The Keys "The Bodyguard" and "Saturday Night Fever"

In [ ]:
# b) In the dictionary soundtrack_dic what are the values ?
soundtrack_dic.values() # The values are "1992" and "1977"

In [58]:
# a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

In [ ]:
# b) Use the dictionary to find the total sales of Thriller:
album_sales_dict["Thriller"]

In [ ]:
# c) Find the names of the albums from the dictionary using the method keys():
album_sales_dict.keys()

In [ ]:
# d) Find the values of the recording sales from the dictionary using the method values:
album_sales_dict.values()

**Review Questions**

In [ ]:
# Question 1 - What is the syntax used to obtain the first element of the tuple:
A = ('a','b','c')
A[0] # 'a'

In [ ]:
# Question 2 - After applying the following method, L.append(['a','b']), the following list will only be one element longer. True

In [ ]:
# Question 3 - How many duplicate elements can you have in a set? 0

In [76]:
# Question 4 - Consider the following Python dictionary: Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} What is the result of the following operation: Dict["D"]?
Dict = {"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [ ]:
# Question 5 - What is an important difference between lists and tuples?
# Lists are mutable, tuples are not.

# **Module 3 - Python Programming Fundamentals**

**Conditions and Branching**

In [ ]:
# Condition Equal
a = 5
a == 6

In [ ]:
# Greater than Sign

i = 2
i > 5

In [ ]:
# Inequality Sign
i = 2
i != 6

In [ ]:
# Use Equality sign to compare the strings
"ACDC" == "Michael Jackson"

In [ ]:
# If statement example
age = 19
#age = 18
#expression that can be true or false
if age > 18:
  
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )
#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

In [ ]:
# Else statement example
age = 18
# age = 19
if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" ) 
print("move on")

In [ ]:
# Elif statment example
age = 18
if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" ) 
print("move on")

In [ ]:
# Condition statement example
album_year = 1980
if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

In [ ]:
# Condition statement example
album_year = 1990
if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

**Lab - Loops**

In [ ]:
# Range 
# Use the range
range(3)

In [ ]:
# For loop example
dates = [1982, 1980, 1973]
N = len(dates)

for i in range(N):
    print(dates[i])

In [ ]:
# Example of for loop
for i in range(0, 8):
    print(i)

In [ ]:
# Use for loop to change the elements in list
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

In [ ]:
# While Loop Example
dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

**Lab - Functions**

In [106]:
# First function example: Add 1 to a and store as b
def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [ ]:
# Get a help on add function
help(add)

In [ ]:
# Call the function add()
add(1)

In [ ]:
# Define a function for multiple two numbers
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

In [110]:
# Function Definition
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [ ]:
# Initializes Global variable  
x = 3
# Makes function call and return function a y
y = square(x)
y

In [ ]:
# Function example
def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

In [ ]:
# Print the list using for loop
def PrintList(the_list):
    for element in the_list:
        print(element)

# Implement the printlist function
PrintList(['1', 1, 'the man', "abc"])

**Lab - Objects and Classes**

In [118]:
# Import the library
import matplotlib.pyplot as plt
%matplotlib inline

In [120]:
# Create a class Circle
class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show()

In [121]:
# Create an object RedCircle
RedCircle = Circle(10, 'red')

In [ ]:
# Find out the methods can be used on the object RedCircle
dir(RedCircle)

In [ ]:
# Print the object attribute color
RedCircle.color

In [ ]:
# Set the object attribute radius
RedCircle.radius = 1
RedCircle.radius

In [ ]:
# Use method to change the object attribute radius
print('Radius of object:',RedCircle.radius)
RedCircle.add_radius(2)
print('Radius of object of after applying the method add_radius(2):',RedCircle.radius)
RedCircle.add_radius(5)
print('Radius of object of after applying the method add_radius(5):',RedCircle.radius)

In [126]:
# Create a new Rectangle class for creating a rectangle object
class Rectangle(object):
    
    # Constructor
    def __init__(self, width=2, height=3, color='r'):
        self.height = height 
        self.width = width
        self.color = color
    
    # Method
    def drawRectangle(self):
        plt.gca().add_patch(plt.Rectangle((0, 0), self.width, self.height ,fc=self.color))
        plt.axis('scaled')
        plt.show()

In [127]:
# Create a new object rectangle
SkinnyBlueRectangle = Rectangle(2, 3, 'blue')

In [ ]:
# Print the object attribute width
SkinnyBlueRectangle.width

**Quizzes & Quizzes from labs**

In [ ]:
# QUESTION 1 - Select the values of i that produces a True for the following:
i = 1
i != 0

In [ ]:
# QUESTION 2 - What is the output of the following: This is a.
if(x != 'a'):
  print("This is not a.")
else:
  print("This is a.")

In [ ]:
# Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

In [ ]:
# Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

In [ ]:
# Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.
album_year = 1979
if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

**Loop Quizzes**

In [ ]:
# QUESTION 1 - What is the output of the following lines of code: # 3, 4, 5 
A = [3,4,5]
for a in A:
  print(a)

In [ ]:
# QUESTION 2 - What is the output of the following lines of code: # 1, 2 
x = 3
y = 1

while(y != x):
  print(y)
  y = y+1

In [ ]:
# Write a for loop the prints out all the element between -5 and 5 using the range function.
for i in range(-4, 5):
    print(i)

In [ ]:
# Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']
squares = ['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

In [ ]:
# Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1
    Rating = PlayListRatings[i]
    i = i + 1

In [ ]:
# Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange'
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print(new_squares)

**Functions Quizzes**

In [ ]:
# QUESTION 1 - What is the value of c after the following block of code is run ?
a = 1
def add(b):
  return a + b

c = add(10)
c

In [ ]:
# QUESTION 2 - What is the value of c after the following block of code is run with proper numerical input?
def f(*x):
  return sum(x)

c = f(c)
c

In [114]:
# Come up with a function that divides the first input by the second input:
def div(a, b):
    return(a/b)

In [115]:
# Use the function con for the following question.
def con(a, b):
    return(a + b)

In [ ]:
# Can the con function we defined before be used to add two integers or strings? # Yes
con(2, 2)

In [ ]:
# Can the con function we defined before be used to concatenate lists or tuples? # Yes
con(['a', 1], ['b', 1])

**Objects and Classes Quizzes**

In [ ]:
"""
 Text Analysis

You have been recruited by your friend, a linguistics enthusiast, to create a utility tool that can perform analysis on a given piece of text. Complete the class 'analysedText' with the following methods -

    Constructor (__init__) - This method should take the argument text, make it lower case, and remove all punctuation. Assume only the following punctuation is used: period (.), exclamation mark (!), comma (,) and question mark (?). Assign this newly formatted text to a new attribute called fmtText.
    freqAll - This method should create and return dictionary of all unique words in the text, along with the number of times they occur in the text. Each key in the dictionary should be the unique word appearing in the text and the associated value should be the number of times it occurs in the text. Create this dictionary from the fmtText attribute.
    freqOf - This method should take a word as an argument and return the number of occurrences of that word in fmtText. 

The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise.
Hint: Some useful functions are replace(), lower(), split(), count() 
"""
class analysedText(object):
    
    def __init__ (self, text):
        formattedText = text.replace('.','').replace('!','').replace('?','').replace(',','')
  
        formattedText = formattedText.lower()
        
        self.fmtText = formattedText
        
    def freqAll(self):        
        wordList = self.fmtText.split(' ')
        
        freqMap = {}
        for word in set(wordList):
            freqMap[word] = wordList.count(word)
        
        return freqMap
    
    def freqOf(self,word):
        freqDict = self.freqAll()
        
        if word in freqDict:
            return freqDict[word]
        else:
            return 0

import sys

sampleMap = {'eirmod': 1,'sed': 1, 'amet': 2, 'diam': 5, 'consetetur': 1, 'labore': 1, 'tempor': 1, 'dolor': 1, 'magna': 2, 'et': 3, 'nonumy': 1, 'ipsum': 1, 'lorem': 2}

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

print("Constructor: ")
try:
    samplePassage = analysedText("Lorem ipsum dolor! diam amet, consetetur Lorem magna. sed diam nonumy eirmod tempor. diam et labore? et diam magna. et diam amet.")
    print(testMsg(samplePassage.fmtText == "lorem ipsum dolor diam amet consetetur lorem magna sed diam nonumy eirmod tempor diam et labore et diam magna et diam amet"))
except:
    print("Error detected. Recheck your function " )
print("freqAll: ")
try:
    wordMap = samplePassage.freqAll()
    print(testMsg(wordMap==sampleMap))
except:
    print("Error detected. Recheck your function " )
print("freqOf: ")
try:
    passed = True
    for word in sampleMap:
        if samplePassage.freqOf(word) != sampleMap[word]:
            passed = False
            break
    print(testMsg(passed))
    
except:
    print("Error detected. Recheck your function  " )

**Review Questions**

In [ ]:
# Question 1 - What is the output of the following lines of code:
x = 1
if(x != 1):
  print('Hello')
else:
  print('Hi')

print('Mike')

# Hi
# Mike

In [ ]:
# Question 2 - What is the output of the following few lines of code? # '11' '22' '33' 
A = ['1','2','3']
for a in A:
  print(2*a)

In [ ]:
# Question 3 - Consider the function Delta, when will the function return a value of 1 # When the input is 0. 
def Delta(x):
  if x == 0:
    y = 1;
  else:
    y = 0;
  return(y)

Delta(1)

In [ ]:
# Question 4 - What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'. # B.sort()

In [ ]:
# Question 5 - What are the keys of the following dictionary: {'a':1,'b':2}? # a,b