<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JuanMelendres/blob/main/LabModule4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Juan Melendres - A00369017**

# **Objecte Oriented Programing in Pyhton (Youtube Video)**

In [ ]:
# Create a Class
class Dog:
  """
    __init__ method is for instance the class
  """
  def __init__(self, name, age):
    self.name = name # Set New attribute (Dog Name)
    self.age = age # Set New attribute (Dog Age)

  def get_dog_name(self):
    return "Dog Name: " + self.name

  def get_dog_age(self):
    return "Dog Age: " + str(self.age)

  def set_dog_name(self, name):
    self.name = name

  def set_dog_age(self, age):
    self.age = age

  def bark(self):
    print("bark")

  def sleep(self):
    print("Dog sleeping")

  def add_one(self, x):
    return x + 1

d = Dog("Doge", 2)
print(d.get_dog_name() + "\n" + d.get_dog_age())
d2 = Dog("Cheems", 4)
print(d2.get_dog_name())
print(type(d))

In [ ]:
d.bark()

In [ ]:
d.sleep()

In [ ]:
print(d.add_one(10))

In [ ]:
d.set_dog_age(6)
print(d.get_dog_age())

In [ ]:
class Student:

  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

  def get_grade(self):
    return self.grade

class Course:

  def __init__(self, name, max_students):
    self.name = name
    self.max_students = max_students
    self.students = []
    self.is_active = False

  def add_student(self, student):
    if len(self.students) < self.max_students:
      self.students.append(student)
      return True
    return False
  
  def get_average_grade(self):
    value = 0
    for student in self.students:
      value += student.get_grade()

    return value / len(self.students)

s1 = Student("Juan", 25, 90)
s2 = Student("Karen", 25, 100)
s3 = Student("Luis", 25, 70)

course = Course("Python 101", 2)

course.add_student(s1)
course.add_student(s2)

print(course.get_average_grade())
print(course.add_student(s3))

In [ ]:
# Inheritance
class Pet:

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def show(self):
    print(f"I am {self.name} and I am {self.age} years old")

  def speak(self):
    print("I Dont't know what I say")

class Cat(Pet):

  def __init__(self, name, age, color):
    super().__init__(name, age)
    self.color = color
  
  def speak(self):
    print("Meow")

  def show(self):
    print(f"I am {self.name}, I am {self.age} years old and I am {self.color}")

class Dog(Pet):

  def speak(self):
    print("bark")

class Fish(Pet):
  pass

pet = Pet("Noge", 12)
pet.show()
pet.speak()

cat = Cat("Mishi Mishi", 12, "Orange")
cat.show()
cat.speak()

dog = Dog("Cheems", 4)
dog.show()
dog.speak()

fish = Fish("Tim", 4)
fish.show()
fish.speak()

# **Module 4 - Working with Data in Python**

**Lab - Reading Files with Open**

In [ ]:
# To read files in Python we have to use the open function, we have to pass the path of the file and the mode (common modes 'r' for reading and 'w' for writing)
# To read a single line readline(), to read all the lines we ca usea readlines() or a for. All these functions return a string
# Alway we have to close the stream.

In [ ]:
## Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
# !wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

In [7]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file . It return the path of the file. 
file1.name

In [ ]:
# Print the mode of file, either 'r' or 'w'. These two are the most common modes for the files
file1.mode

In [ ]:
# To read the entire file we can use the read() function 
FileContent = file1.read()
FileContent

In [ ]:
# Print the file with '\n' as a new line
print(FileContent)

In [ ]:
# Type of file content, as I say on the first line the file is returned as a string
type(FileContent) # str

In [16]:
# Close file after finish. It is very important that we always close the reading of the file, since it occupies resources that it is better to free that space from now on.
file1.close()

In [ ]:
# These is an example of how to read a file in a better way
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)
file1.closed # Remember to check if the file was closed

In [ ]:
print(FileContent) # Print the file content

In [ ]:
# To read the first four or another number of characters in the file we can do the following.
with open(example1, "r") as file1:
    print(file1.read(4))

In [ ]:
# To read a certain amount of characters in the file. This can help us clean up the file a bit
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

In [ ]:
# To read a single line we can use readline
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

In [ ]:
# To iterate through the lines we ca do the following.
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

In [ ]:
# To read all lines and save as a list
with open(example1, "r") as file1:
    FileasList = file1.readlines()
FileasList[0] # Printing the first element of the list

Lab - Writing Files with Open

In [ ]:
# To write data to the file we use a the write function.
# We can iterate to write more lines in the file or only use write to add a single line.
# we Can copy files using the read mode and then the write mode.

# Write a single line to a new file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is the first line")
# Read the new file to check if it works
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

In [26]:
# Write lines in the file.
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check the new lines in the file.
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

In [ ]:
# If we have a list and we want to create a file from the list we ca do it.
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"] # list object

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

In [ ]:
# Verify if writing to file is successfully executed
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

In [30]:
# To append more lines to the files we can usea the 'a' mode.
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")

In [ ]:
# Verify if the new lines are in the text file
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

In [32]:
# To copy a file.
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
# Check if the new file has the same data.
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Lab - Loading Data with Pandas

In [ ]:
# Pandas is a library use to manipulate and analyze data
# First we have to impor the pandas Library
import pandas as pd
# Once we have imported the library we can create a new data frame
df = pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head(3) # DIsplayi9ng the first three rows of the data frame

In [ ]:
# To obtain a column in this case 'a'
df['a']

In [ ]:
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df1 = pd.DataFrame(a)
df1

In [ ]:
# Retrieve the Marks column and assign it to a variable b
b = df1[['Marks']]
b

In [ ]:
# Retrieve the Country and Course columns and assign it to a variable c
c = df1[['Country','Course']]
c

In [ ]:
# To view the column as a series, just use one bracket:
x = df['Name']
x

In [ ]:
# loc() is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select. 
# iloc() is an indexed-based selecting method which means that we have to pass integer index in the method to select a specific row/column.
# Use the loc() function,to get the Department of Jane in the newly created dataframe df2.
df2.loc['Jane', 'Department']

In [ ]:
# Use the iloc() function,to get the Salary of Mary in the newly created dataframe df2.
df2.iloc[3,2]

Lab - Working with and Saving Data with Pandas

In [24]:
import pandas as pd

df3 = pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [ ]:
# Find the unique values in column 'a' :
df3['a'].unique()

In [ ]:
# Return a dataframe with only the rows where column a is less than two:
df3[df3['a'] < 2]

**Quizzes & Exercises from labs**

Lab - Writing Files with Open

In [34]:
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [ ]:
# Exercise: Implement the cleanFiles function in the code cell below.
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
'''
def cleanFiles(currentMem, exMem):
    # Open the currentMem file as in r+ mode
    with open(currentMem, 'r+') as writeFile: 
        # Open the exMem file in a+ mode
        with open(exMem,'a+') as appendFile:
        # Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.
          writeFile.seek(0)
          members = writeFile.readlines()
          header = members[0]
          members.pop(0)
          # Iterate through the members and create a new list of the innactive members
          inactive = []
          for member in members:
            if 'no' in member:
                inactive.append(member)
        
          # Go to the beginning of the currentMem file
          # Iterate through the members list. 
          # If a member is inactive, add them to exMem, otherwise write them into currentMem
          writeFile.seek(0) 
          writeFile.write(header)
          for member in members:
            if(member in  inactive):
              appendFile.write(member)
            else:
              writeFile.write(member)  
          writeFile.truncate()

# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

In [ ]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Lab - Loading Data with Pandas

In [ ]:
# QUESTION 1 - Consider the dataframe df. How would you find the element in the second row and first column? SOL: df.ix[1,0] or df.iloc[1,0]

In [ ]:
# QUESTION 2 - Will the following code run? YES
import pandas as banana

df = banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

Exercise 1: Pandas: DataFrame and Series

In [ ]:
# Define a dictionary 'dctry'
dctry = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

# Casting the dictionary to a DataFrame
df = pd.DataFrame(dctry)

# Display the DataFrame
df

In [ ]:
# Retrieving the "ID" column and assigning it to a variable 'columnID'
columnID = df[['ID']]
columnID

In [ ]:
# Retrieving the Department, Salary and ID columns and assigning it to a variable 'columns'
columns = df[['Department','Salary','ID']]
columns

Exercise 2: loc() and iloc() functions

In [ ]:
# To access the value on the first row and the first column
df.iloc[0, 0]

In [ ]:
# To access the value on the first row and the third column
df.iloc[0,2]

In [ ]:
# To access the column using the name
df.loc[0, 'Salary']

In [15]:
df2 = df
df2 = df2.set_index("Name")

In [ ]:
# To display the first 5 rows of new dataframe
df2.head()

In [ ]:
# let us access the column using the name
df2.loc['Jane', 'Salary']

Exercise 3: Slicing

In [ ]:
# Slicing using dataframe df
df.iloc[0:2, 0:3]

In [ ]:
# Slicing using loc() function on dataframe df where index column is having labels as 0, 1, 2
df.loc[0:2,'ID':'Department']

In [ ]:
# Slicing using loc() function on dataframe df2 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

In [ ]:
# Using loc() function, do slicing on old dataframe df to retrieve the Name, ID and department of index column having labels as 2, 3
df.loc[2:3,'Name':'Department']

Lab - Working with and Saving Data with Pandas

In [ ]:
# QUESTION 1 - Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]}) What type does the following return: df['a']==1 ?
df4 = pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df4['a'] == 1

In [ ]:
# QUESTION 2 - What task does the following method perform: df.to_csv("file.csv")? SOL: Save a dataframe to a csv file.

In [ ]:
import urllib.request

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"
filename = 'TopSellingAlbums.csv'
urllib.request.urlretrieve(url, filename)

In [40]:
import pandas as pd
df = pd.read_csv(filename)

In [ ]:
# Print first five rows of the dataframe
df.head()

In [ ]:
url2 = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx"
filename2 = 'TopSellingAlbums2.csv'
urllib.request.urlretrieve(url2, filename2)

In [44]:
# Read data from Excel File and print the first five rows
df = pd.read_excel(filename2)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [ ]:
# Access to the column Length
x = df[['Length']]
x

In [46]:
# Get the column as a dataframe
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [ ]:
# Access to multiple columns
y = df[['Artist','Length','Genre']]
y

In [ ]:
# Access the value on the first row and the first column
df.iloc[0, 0]

In [ ]:
# Access the value on the second row and the first column
df.iloc[1,0]

In [ ]:
# Access the column using the name
df.loc[1, 'Artist']

In [ ]:
# Slicing the dataframe
df.iloc[0:2, 0:3]

In [ ]:
# Quiz on DataFrame
# Use a variable q to store the column Rating as a dataframe
q = df[['Rating']]
q

In [ ]:
# Assign the variable q to the dataframe that is made up of the column Released and Artist:
q = df[['Released', 'Artist']]
q

In [ ]:
# Access the 2nd row and the 3rd column of df:
df.iloc[1, 2]

In [ ]:
# Use the following list to convert the dataframe index df to characters and assign it to df_new; find the element corresponding to the row index a and column 'Artist'. 
# Then select the rows a through d for the column 'Artist'
new_index = ['a','b','c','d','e','f','g','h']
df_new = df
df_new.index = new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

**Review Questions**

In [ ]:
# Question 1 - What do the following lines of code do? SOL: Read the file "Example1.txt". 

with open("Example1.txt","r") as file1:
  FileContent = file1.readlines()
  print(FileContent)

In [ ]:
# Question 2 - What do the following lines of code do? SOL: Write to the file "Example2.txt". 

with open("Example2.txt","w") as writefile:
  writefile.write("This is line A\n")
  writefile.write("This is line B\n")

In [ ]:
# Question 3 - What do the following lines of code do? SOL: Append the file "Example3.txt". 

with open("Example3.txt","a") as file1:
  file1.write("This is line C\n")

In [ ]:
# Question 4 - What is the result of applying the following method df.head() to the dataframe "df"? SOL: Prints the first 5 rows of the dataframe.